.ng-cloak, .hidden {
    display: none;
}

.tasks td {
    padding: 5px;
    border: 1px solid #ccc;
}

.tasks tr {
    background-color: #eee;
}

.tasks tr.done {
    background-color: #bbb;
    width: 40px;
}

a.not-done {
    display:none;
}

tr.done a.done {
    display:none;
}

tr.done a.not-done {
    display: block;
}

.day {
    width: 49%;
    float:left;
    padding: 5px;
    margin: 0.5%;
    border: 1px dashed #ccc;
/*     background-color: #ddd; */
}

.day h2 {
    text-align: center;
    margin: 0; padding: 0;
}
.tool {
    font-size: small;
    width: 45px;
}