

/* ==========================================================================
Author's custom styles
========================================================================== */

/* 
Allow angular.js to be loaded in body, hiding cloaked elements until 
templates compile.  The !important is important given that there may be 
other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.hidden {
	display: none;
}

body {
    overflow:scroll;
}

acronym {
    border-bottom: 1px dotted black;
    cursor: help;
}

/* The Task List 
------------------------*/
#date-period {
	text-align:center;
}

#date-period p {
	margin:0; padding: 0;
}

#date-period span {
	display: inline-block;
}
#date-period .date {
	min-width: 90px;
}

#task-list {
    -webkit-transition: max-height 0.5s, height 0.5s;
    transition: max-height 0.5s, height 0.5s;
    overflow:hidden;
}

#task-list.built {
    max-height: 9999px;
}

#task-list.building {
    max-height: 2px;
}

.task {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 3px 0;
}

.task-day  {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 6px 0;
	overflow: hidden;
	height: auto;
}

/* .task-task .name {
    color: black;
}



a.toggle-link {
	display: block;
	text-decoration: none;
}

a.toggle-link:hover {
	text-decoration: none;
}
 */
.task-name {
	display: block;
}
.tickbox {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 1px;
	overflow: hidden;
	text-indent: -9999px;
}
.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}
.done {
    background:url('../img/notdone16.png');
}
.not-done{
    background:url('../img/done16.png');
}
.edit {
    background:url('../img/edit16.png');
}
.delete {
    background:url('../img/bin16.png');
}
/* .hidden {
    display:none;
}
 */
.taskdone {
    background-color: #eee;
}
.taskdone .name {
    color: #888;
}



/* Form
 */

.input-group {
	margin-bottom: 5px;
}

.input-group button {
	margin-right: 5px;
}

.input-group-addon {
	min-width: 100px;
	text-align: right;
}














