<div class="container" id="tasklist" ng-hide="! loggedin || ! data.tasksFound">
    <h2>Task list for <strong>{{username}}</strong>({{id}})</h2>
    <div class="row clearfix" ng-repeat="(date, tasks) in data.days" ng-class="{weekend: isWeekend(day.date)}">
        <div class="col col-md-2 one">
            <span ng-class="{hidden: ! isMon(date)}">
                {{date | date: 'dd-MMM'}}
            </span>
        </div>

        <div class="col col-md-2 two">
            {{date | date: 'EEE'}}
        </div>

        <div class="col col-md-8 three">
            <div class="row task clearfix" ng-repeat="task in tasks" ng-class="{taskdone: isDone(key, day.date)}"> 
                <div class="col-md-6 name">
                    {{task.name}}
                    <small>({{task.start_date * 1000 | date: 'dd MMM yy' }} - 
                    {{task.end_date == null && " " || task.end_date * 1000 | date: 'dd MMM yy'}})</small>
                </div>
                <div class="col-md-6 tools">
                    <a href="" ng-click="doneTask(key, day.date, true)" class="tickbox done" ng-class="{hidden: isDone(key, day.date)}" >Done</a>
                    <a href="" ng-click="doneTask(key, day.date, false)" class="tickbox not-done" ng-class="{hidden: ! isDone(key, day.date)}">Not Done</a>
                    <a href="" ng-click="editTask(key)" class="edit">Edit</a>
                    <a href="" ng-click="deleteTask(key)" class="delete">Delete</a>
                </div>
            </div><!-- inner row-->
        </div>
    </div><!-- outer row -->
</div><!-- tasklist container -->
<div class="container" ng-hide="loggedin">
    <div class="row">
        <h2>Do Something Everyday</h2>
        <p>A to-do list for daily tasks.</p>
        <p>Please log in.</p>
    </div><!-- row -->
</div><!-- login container -->
<div class="container" ng-hide="! loggedin || data.tasksFound">
    <div class="row">
        <h2>Do Something Everyday</h2>
        <p>A to-do list for daily tasks.</p>
        <p>No tasks found for current period.</p>
    </div><!-- row -->
</div><!-- login container -->